{% extends "content/base.html" %}
{% load static %}
{% block title %} Mocutemsquare Blog {% endblock %}


{% block content %}

    <!-- SUB HERO SECTION -->
    <section id="overlap-hero-section">
      
      {% for post in recent_posts %}
      <div style="background-image: {{ post.thumbnail.url }};" class="gaming container super">
        <span class="tag">{{ post.tag }}</span>
        <a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:"45" }}</a>
        <div class="dummy-time-stamp box">
          <img id="author-img" src="{{ post.author.avatar.url }}" alt="Kazeem James Dp" />
          <span>{{ post.author.get_full_name }}</span>
          <img src="{% static 'Asset/Images/Icons/clock.png' %}" alt="Clock Icon" />
          <span> {{ post.date_created|date:"M t, Y" }}</span>
        </div>
      </div>
      {% endfor %}
      
    </section>

    <!-- MORE OF US SECTION  -->
    <section id="more-of-us-section">
      <h2>POPULAR</h2>
      
      <div class="blog-container">
      
      {% for post in Post.popular %}
        <div class="blog-container-box">
          <img
            src="{{ post.thumbnail.url }}"
            alt="post-thumbnail" />
          <div class="blog-text">
              <span class="pop-tag">{{ post.tag }}</span>
            <a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:"25" }}</a>
            <div class="dummy-time-stamp grid-box">
              <img
                id="author-img"
                class="small"
                src="{{ post.author.avatar.url }}"
                alt="Kazeem James Dp" />
              <span>{{ post.author.get_full_name }}</span>
              <img
                class="small"
                src="{% static 'Asset/Images/Icons/clock.png' %}"
                alt="Clock Icon" />
              <span> {{ post.date_created|date:"M t, Y" }}</span>
            </div>
          </div>
          {% endfor %}
          
        </div>
    </section>

{% endblock %}