{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="{% static 'Asset/Images/Icons/Logo.png' %}" />
    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <!-- FONT STYLE  -->
    <script
      src="https://kit.fontawesome.com/c190620e84.js"
      crossorigin="anonymous"></script>
    <title>Morcutemsquare's Blog</title>
    </style>
  </head>

  <body>
    <!-- HEADER SECTION  -->
    <div id="backdrop">
      <section id="header">
        <a href="{% url 'content:index' %}"
          ><img
            class="logo"
            src="{% static 'Asset/Images/Icons/Logo.png' %}"
            alt="logo"
        /></a>

        <div>
          <ul id="navbar">
            <li><a href="{% url 'content:index' %}">Home</a></li>
            <li><a  href="#popular">Popular</a></li>
            <li><a href="#morefromus">More From Us</a></li>
            <li class="right-end">
              <div class="search-container">
                <form>
                  <input
                    type="search"
                    name="q"
                    class="search-input"
                    placeholder="Search..." required />
                  <button class="search-button" type="submit">
                    <img
                      src="{% static 'Asset/Images/Icons/search.png' %}"
                      alt="Search"
                      width="20"
                      height="20" />
                  </button>
                </form>
              </div>
            </li>
            <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
          </ul>
        </div>
        <div id="mobile">
          <i id="bar" class="fa-solid fa-outdent"></i>
        </div>
      </section>

      <!-- HERO SECTION -->
      <section id="hero-section">
        <span class="backdrop-red">LIFESTYLE</span>
        <h1>
          <p class="backdrop-white first">Be Inspired With Dark</p>
          <p class="backdrop-white second">Photo And Colorful</p>
          <p class="backdrop-white third">Indoor Style</p>
        </h1>
      </section>
    </div>

    <!-- SUB HERO SECTION -->
    <section id="overlap-hero-section">
      
      {% for post in recent_posts %}
      <div style="background-image: url({{ post.thumbnail.url }});" class="gaming container super">
        <span class="tag">{{ post.tag }}</span>
        <a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:"45" }}</a>
        <div class="dummy-time-stamp box">
          <img id="author-img" src="{{ post.author.avatar.url }}" alt="Kazeem James Dp" />
          <span>{{ post.author.get_full_name }}</span>
          <img src="{% static 'Asset/Images/Icons/clock.png' %}" alt="Clock Icon" />
          <span> {{ post.date_created|date:"M t, Y" }}</span>
        </div>
      </div>
      {% endfor %}
      
    </section>

    <!-- MORE OF US SECTION  -->
    <section id="more-of-us-section">
      <h2 id="popular">POPULAR</h2>
      
      <div class="blog-container">
      
      {% for post in Post.popular %}
        <div class="blog-container-box">
          <img
            src="{{ post.thumbnail.url }}"
            alt="post-thumbnail" />
          <div class="blog-text">
              <span class="pop-tag">{{ post.tag }}</span>
            <a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:"25" }}</a>
            <div class="dummy-time-stamp grid-box">
              <img
                id="author-img"
                class="small"
                src="{{ post.author.avatar.url }}"
                alt="Kazeem James Dp" />
              <span>{{ post.author.get_full_name }}</span>
              <img
                class="small"
                src="{% static 'Asset/Images/Icons/clock.png' %}"
                alt="Clock Icon" />
              <span> {{ post.date_created|date:"M t, Y" }}</span>
            </div>
          </div>
          </div>
          {% endfor %}
          
        </div>
    </section>

    <!-- ADS -->
    <!--
    <section id="ads">
      <p>ADS</p>
    </section>
  -->

    <!-- MORE OF US CONT'D -->
    <section id="mfs">
      <h2 id="morefromus">MORE FROM US</h2>

      <div class="mfs-container">
      
      {% for post in posts %}
        <div class="mfs-container-bx super">
            <span class="tag">{{ post.tag }}</span>
          <img src="{{ post.thumbnail.url }}" alt="" />
          <a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:"40" }}</a>
          <div class="dummy-time-stamp mfs-stamp">
            <img id="author-img" src="{{ post.author.avatar.url }}" alt="Ka" />
            <span>{{ post.author.get_full_name }}</span>
            <img src="{% static 'Asset/Images/Icons/clock.png' %}" alt="Clock Icon" />
            <span> {{ post.date_created|date:"M t, Y" }}</span>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </section>

    <!-- FOOTER SECTION  -->
    <footer id="footer">
      <div class="three-div-wrapper">
        <div class="about-us width">
          <h3>ABOUT US</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur. Quis diam risus elit viverra
            libero malesuada mauris id. Sapien tincidunt sit facilisis
            vestibulum eu est. Id justo tempor non ultricies tincidunt enim ut.
            Viverra nisi sit et volutpat.
          </p>
          <div class="icons">
            <a href="https://facebook.com/mocutemsquare"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/mocutemsquare"><i class="fa-brands fa-twitter"></i></a>
          </div>
        </div>
        <div class="recent-post width">
          <h3>RECENT POSTS</h3>
          
          {% for post in recent_posts %}
              <a href="{{ post.get_aboslute_url }}">{{ post.title|truncatechars:"48" }}</a>
          {% endfor %}
          
        </div>
        <div class="newsletter width">
          <h3>NEWSLETTER</h3>
          <form id="newsletter-form" method="post" action="{% url 'content:subscribe' %}">
          {% csrf_token %}
            <input type="email" name="email" required placeholder="Your Email Address" />
          </form>
          <a id="newsletter-btn">SIGN UP</a>
        </div>
      </div>
      <div class="bottom-spaced-div">
        <div class="copyright-2">
          <p>Copyright. All rights reserved</p>
        </div>
        <div class="copyright">
          <a href="">About us </a> | <a href="">Privacy policy</a>
        </div>
      </div>
    </footer>

    <!-- SCROLL UP BUTTON -->
    <a href="#" id="scrollToTopButton" class="scroll-to-top-button">
      <i class="fas fa-arrow-up"></i>
    </a>

    <!-- JAVASCRIPT  -->
    <script src="{% static 'Asset/Javascript/main.js' %}"></script>
  </body>
</html>
